<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tasyaamalia.cookland">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cookland"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cookland_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionbar">
        <activity
            android:name=".screen.splashscreen.SplashScreenViewAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.meal.mealbycategory.MealByCategoryView"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.category.CategoryView"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.home.HomeView"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.favorite.FavoriteView"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.about.AboutView"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.meal.MealDetailView"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>